{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/dragDrop.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">


            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Examples Include</li>
            </ol>



        </section>

        <!-- Main content -->
        <section class="content">



            <h1>Creditcase creation</h1>

            {{ form_start(form) }}
            <label for="form">Person</label>
            <br>
            {{ form_widget(form.person) }}
            <br>

            <label for="form">Sum</label>
            <br>
            {{ form_widget(form.sum) }}
            <br>

            <label for="form">Date</label>
            <br>
            {{ form_widget(form.date) }}
            <br>

            <label for="form">file</label>
            <br>
            {{ form_widget(form.file,{'id': 'file' })}}
            <br>

            <div id="filedrag">or drop files here</div>

            <br>

            <div id="messages">
            </div>


            <br>

            <p style="color:red;">{% if error %}
                    Invalide File Format
                {% endif %}
            </p>

            <input type="submit" value="Create" />
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('creditcase_index') }}">Back to the list</a>
                </li>
            </ul>

           {# here :


            {{ dump(form.vars.value.file) }}#}


        </section>
        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        // getElementById
        function $id(id) {
            return document.getElementById(id);
        }

        //
        // output information
        function Output(msg) {
            var m = $id("messages");
            m.innerHTML = msg + m.innerHTML;
        }
        // call initialization file
        if (window.File && window.FileList && window.FileReader) {
            Init();
        }

        //
        // initialize
        function Init() {

            var fileselect = $id("file"),
                    filedrag = $id("filedrag");

            // file select
            fileselect.addEventListener("change", FileSelectHandler, false);

            // is XHR2 available?
            var xhr = new XMLHttpRequest();
            if (xhr.upload) {

                // file drop
                filedrag.addEventListener("dragover", FileDragHover, false);
                filedrag.addEventListener("dragleave", FileDragHover, false);
                filedrag.addEventListener("drop", FileSelectHandler, false);
                filedrag.style.display = "block";

            }

        }
        // file drag hover
        function FileDragHover(e) {
            e.stopPropagation();
            e.preventDefault();
            e.target.className = (e.type == "dragover" ? "hover" : "");
        }
        // file selection
        function FileSelectHandler(e) {

            // cancel event and hover styling
            FileDragHover(e);

            // fetch FileList object
            var files = e.target.files || e.dataTransfer.files;

            //var formFile ='{{ form.vars.value.file|e('js') }}';

            // process all File objects
            for (var i = 0, f; f = files[i]; i++) {
               // formFile = f;
                ParseFile(f);
            }

        }


        function ParseFile(file) {

            Output(
                    "<p>File information: <strong>" + file.name +
                    "</strong> type: <strong>" + file.type +
                    "</strong> size: <strong>" + file.size +
                    "</strong> bytes</p>"
            );




        }
    </script>

{% endblock %}

